<%- include('partials/header') %>
    
    <div class="container">
        <h2>Edit item</h2>
        <form action="/update/<%= item.id %>" method="post">
            <div class="form-content">
            <input type="text" name="newItem"  class="new-item bg-grey" value ="<%= item.name %>">
            <div class="form-btns">
                <a href="/items" class="btn">Cancel</a>
                <input type="submit" class="btn" value="Save">
                <select name="label" id="label" value="<%= item.label %>">
                    <option value="one">One</option>
                    <option value="two">Two</option>
                    <option value="three">Three</option>
                </select>
            </div>
            </div>
        </form>
        
    </div>

<%- include('partials/footer') %>
    
