<%- include('partials/header') %>

    <div class="container">
        
        <div>
            <a class="btn" id="add" href="/create">Add Item +</a>
        </div>

        <div class="items">
            <% for(let item of items) { %>
               <div class="item bg-grey">
                   <p><%= `${items.indexOf(item)+1}. ${item.name}` %></p>
                   <div class="action row">
                       
                       <a class="btn edit" href="/items/<%= item.id %>">Edit</a>
                    

                       <form action="/delete/<%= item.id %>" method="POST">
                        <input class="btn delete" type="submit" value = "Delete">
                    </form>
                       
                   </div>
               </div>

                
    
            <% }; %>
        </div>
        
        
    </div>

<%- include('partials/footer') %>
